@page
@model EventsModel
@{
    ViewData["Title"] = "Events";
}
<h1>@ViewData["Title"]</h1>


<h2>Výpis nejnovějších</h2>

<!--Musí se upravit -->

<form method="GET" action="/Events">
    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
        <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" asp-for="showOldEvents">
        <label class="btn btn-outline-dark" for="btncheck1">Předchozí Eventy</label>
        <button type="submit" class="btn btn-outline-dark">Filtr</button>
    </div>
</form>

<!-- Table -->
<table class="table table-hover">
    <tr>
        <th>Datum přídání</th>
        <th>Název Firmy</th>
    </tr>
    @if (Model.firmaEventy != null)
        foreach (var fS in Model.firmaEventy)
        {
            <tr>
                <td>@fS.EventDate</td>
                <td>@fS.Name</td>
            </tr>
        }

</table>

