@page
@model EventsModel
@{
    ViewData["Title"] = "Events";
}
<h1>@ViewData["Title"]</h1>


<h2>Výpis nejnovějších</h2>

<!--Musí se upravit -->

<form method="GET" action="/Events">

    <!-- Filter -->
    <input class="form-check-input" asp-for="showOldEvents">

    <div class="pt-2 flex-row justify-content-end d-flex gap-2">
        <button type="submit" class="btn btn-primary">Filter</button>
    </div>

    </form>

    <!-- Table -->
    <table class="table table-hover">
        <tr>
            <th>Datum přídání</th>
            <th>Název Firmy</th>
        </tr>
        @if(Model.firmaEventy != null)
        foreach (var fS in Model.firmaEventy)
        {
            <tr>
                <td>@fS.EventDate</td>
                <td>@fS.Name</td>
            </tr>
        }

    </table>

