@page
@model EventsModel
@{
    ViewData["Title"] = "Events";
}
<h1>@ViewData["Title"]</h1>


<h2>Výpis nejnovějších</h2>

<--Musí se upravit --></>
<table class="table table-hover">
    <tr>
        <th>Datum přídání</th>
        <th>Název Firmy</th>
    </tr>
    <tr>
        <td>1.3.2023</td>
        <td>CZC</td>
    </tr>
    <tr>
        <td>10.2.2023</td>
        <td>Nay</td>
    </tr>
</table>
