@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}
<div class="d-flex">
	<div class="">
		<button type="button" class="btn btn-outline-dark">Aktivní</button>
		<button type="button" class="btn btn-outline-dark">Vymazat vybrané</button>
		<button type="button" class="btn btn-outline-dark">Exportovat vybrané</button>
		<button type="button" class="btn btn-outline-dark">Přidat firmy</button>
		<button type="button" class="btn btn-outline-dark">Úprava sloupců</button>
	</div>
	<form class="">
		<input class="form-control" type="search" placeholder="Search" aria-label="Search">
	</form>
</div>

<div class="text-center">
	<table class="table">
		<tr>
			<th>Název</th>
			<th>Kontakt</th>
			<th>Obor</th>
			<th>Zdroj</th>
			<th>Pozn.</th>
		</tr>
		@foreach (var f in Model.firmy)
		{
			<tr>
				<td>@f.Name</td>
				<td></td>
				<td>@f.Obor.Name</td>
				<td>@f.Source.Name</td>
				<td>@f.Note</td>
			</tr>
		}
	</table>

</div>
