@page
@model ModifyFirmsModel
@{
    ViewData["Title"] = "Modify";
}

<div>

    <h1> @Model.headerText</h1>

    <form method="post">

        <div class="row">
            <!-- Firma - Detaily -->
            <div class="col-sm">
                <div class="form-group">
                    
                    <label for="firmaName">Název</label>
                    <input type="text" class="form-control" id="firmaName" placeholder="Name"
                           value="@Model.firmaModify.Name">


                </div>


            </div>

        </div>

        


        <input type="text" name="kontakt" />
        <input type="text" name="obor" />
        <input type="text" name="zdroj" />
        <input type="text" name="poznamka" />
        <input type="submit" value="Submit" />
    </form>
</div>
