@page
@model Firmovac.Pages.SettingsModel
@{
}


<form action="" method="POST">

    <h2>Email SMTP</h2>


    <label class="form-label" asp-for="SMTP_Address" for="SMTP_Address"></label>
    <input class="form-control" id="SMTP_Address" asp-for="SMTP_Address">


</form>

